<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body class="bg-aquamarine ">
    {{ partial "header.html" . }}
    {{ partial "navigation.html" . }}
    {{ partial "colophon.html" . }}
    <main class="main bg-off-white">
        <div class="container">
            {{ if .IsHome }}
            {{ partial "header.html" . }}
            {{else}}
                {{ partial "headerPage.html" . }}
                {{end}}
                {{ block "main" . }}{{ end }}

        </div>
    </main>
    {{ partial "footer.html" . }}
</body>

</html>
